<p *ngIf="!events"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="events">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Data rozpoczęcia</th>
      <th>Czas trwania</th>
      <th>Obiekt</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.name }}</td>
      <td>{{ event.from }}</td>
      <td>{{ event.duration }}</td>
      <td>{{ event.object.name }}</td>
    </tr>
  </tbody>
</table>